{% extends "layout.html" %}
{% block content %}
<!-- link sorting -->

    <!-- <div class="stk-menu">
        <ul class="nav-link-item">
            <li> <a class="nav-links" href="{{ url_for('home') }}">home</a> </li> 
            <li> <a class="nav-links" href="{{ url_for('home') }}">home</a> </li>
            <li> <a class="nav-links" href="{{ url_for('home') }}">home</a> </li>
            <li> <a class="nav-links" href="{{ url_for('home') }}">home</a> </li>
            <li> <a class="nav-links" href="{{ url_for('home') }}">home</a> </li>
            <li> <a class="nav-links" href="{{ url_for('home') }}">home</a> </li>
            <li> <a class="nav-links" href="{{ url_for('home') }}">home</a> </li>
            <li> <a class="nav-links" href="{{ url_for('home') }}">home</a> </li>
            <li> <a class="nav-links" href="{{ url_for('home') }}">home</a> </li>
            <li> <a class="nav-links" href="{{ url_for('home') }}">home</a> </li>
        </ul> 
    </div> -->

    <!-- ======= Hero Section ======= -->
    <div class="hero d-flex align-items-center"">
        <nav>
            <div class="menu-text d-flex justify-content-center">
                <table>
                    <tr class="inline-block-nav">
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 水泥 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 食品 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 塑膠 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 紡織 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 電機 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 電器電纜 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 化學 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 生技 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 玻璃 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 造紙 </a> </td> 
                    </tr>
                    
                    <tr class="inline-block-nav"> 
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 鋼鐵 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 橡膠 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 汽車 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 光電 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 電腦週邊 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                    </tr>

                    <tr class="inline-block-nav"> 
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                        <td> <a class="data-link" href="{{ url_for('home') }}"> 半導體 </a> </td>
                    </tr>
                </table>
            </div>
        </nav>
    </div>

    <!-- <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->

    <div class="wrapper d-flex align-items-stretch">
        <nav id="side-menu" class="active">
            <ul class="left-navigation nav-items mb-5">

                <!-- <a class="logo" href="{{ url_for('home') }}">
                    <img src="static/image/logo.svg" height="40px;">
                </a> -->

                <li class="active">
                    <a href="{{ url_for('home') }}"><span class="fa fa-sticky-note"></span> 財務報表 </a>
                </li>
    
                <li>
                    <a href="{{ url_for('home') }}"><span class="fa fa-sticky-note"></span> 財務報表 </a>
                </li>
    
                <li>
                    <a href="{{ url_for('home') }}"><span class="fa fa-sticky-note"></span> 財務報表 </a>
                </li>
    
                <li>
                    <a href="{{ url_for('home') }}"><span class="fa fa-sticky-note"></span> 財務報表 </a>
                </li>
    
                <li>
                    <a href="{{ url_for('home') }}"><span class="fa fa-sticky-note"></span> 財務報表 </a>
                </li>

                <li>
                    <a href="{{ url_for('home') }}"><span class="fa fa-sticky-note"></span> 財務報表 </a>
                </li>

                <li>
                    <a href="{{ url_for('home') }}"><span class="fa fa-sticky-note"></span> 財務報表 </a>
                </li>

                <li>
                    <a href="{{ url_for('home') }}"><span class="fa fa-sticky-note"></span> 財務報表 </a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock content %}