{% extends "layout.html" %}
{% block content %}
    <!-- <form method="POST" action="">
        <div class="input-group">
            
            <input type="text" id="tags" name="keyword" class="form-control" placeholder="Enter the stock code..." aria-label="Stock Code" style="width: 500px">
            
            <div class="input-group-append">
                <button type="text" class="btn btn-outline-secondary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>    
    </form> -->
{% endblock content %}

